nav{
    border-radius: 30px;
    width: 100%;
    background-color: lightblue;
}

.log{
    margin-top: 6px;
    padding-right: 10px;
}
.logout{
    margin-top: 0px;
    display:none;
}
.log:hover .logout{
    display: block;
}
.logout:hover{
    display: block;
}

select {
    background-color: #fff;
}

.ch-container {
    padding: 0 15px;
}

.top-block {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    line-height: 15px;
    text-shadow: 0 0 1px #DDD;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
}

.top-block span {
    clear: both;
}

.top-block i {
    font-size: 30px;
}

.top-block:hover {
    text-decoration:none;
}

.notification {
    display: block;
    position: absolute;
    top: -10px;
    right: -5px;
    line-height: 16px;
    height: 16px;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification {
    border-color: #2FABE9;
    background-color: #67C2EF;
    
}

.notification.green {
    border-color: #5AAD34;
    background-color: #78CD51;
}

.notification.yellow {
    border-color: #F4A506;
    background-color: #FABB3D;
}

.notification.red {
    border-color: #FA5833;
    background-color: #FA603D;
}

.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}


.box-content.buttons {
    min-height: 297px;
}
.side{
    padding-left: 10px;
}
.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
}

.main-menu > li {
    margin-top: 0 !important;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar {
    border-radius: 0;
    position: fixed;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.accordion > ul {
    display: none;
    margin-left: 10px;
}





/*-----------addteacher and addkid-------------*/

.add {
    border-style: none;
    border-radius: 30px;
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 10px;
    height: 50px;
}
.send textarea{
    border-style: none;
    border-radius: 30px;
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 30px;
    height: 180px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    resize: none;
}
.send textarea:focus{
    outline: none;
    border: 1px solid black; 
}
.full{
    width: 735px;
}
.add:focus{
    outline: none;
    border: 1px solid black;
}
.addteacher ul{
    padding-left: 10%;
    list-style-type: none;
}
.addteacher h1{
    padding-top: 20px;
    padding-left: 5%;
    font-size: 45px;
    padding-bottom: 20px;
}
.addteacher label{
    padding-right: 20px;
}
.op{
    width: 220px;
}
.addteacher option{
    border-style: none;
}
.btn1{ 
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
    color:white; 
    background-color: #0f537b;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    font-weight: bold;
}
.btn1:hover{
    background-color: #1574ac;
    color: black;
}

/*--------notification--------*/
.notifi{
    margin-top: 10px;
    margin-bottom: 30px;
}


/*---------massage-------------*/
.sendbtn{
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
    color:white; 
    background-color: #3eabe9;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
}
.mbox{
    background-color: #c7cbd1;
    border-radius: 20px;
}
.this:hover{
    background-color: #e4e7e9;
    border-radius: 20px;
    border: 1px;
}
.line{
    background-color: black;
    height: 2px;
    width: 100%;
}
.user{
    margin-top: 5px;
    height: 60px;
}

.inbox h1{
    font-size: 35px;
    padding-bottom: 10px;
}
.inbox h3{
    font-weight: bold;
    color: black;
    margin: 10px;
}
.tablink {
    float: left;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.tablink:hover {
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px;
}

/*Finance*/
.pbox{
    background-color: #dddfe3;
    border-radius: 10px;
}
.pbox td{
    margin: 10px;
}



/*------Profile-------*/

.left{
    background-color: #9dc4ff;
    height: 1000px;
}
.left h1{
    font-size: 40px;
    color: black;
}
.right{
    background-color: #d7e7ff;
    height: 1000px;
}


/*-------Staff--------*/
#dele:hover{
    color: red;
}
.addstaff{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 20px;
    float: right;
    color: #1474ad;
    font-style: none;
}
.addstaff:hover{
    opacity: 0.8;
    text-decoration: none;
}

.searchstaff{
    margin-top: 3px;
    float: right;
    border-radius: 6px;
    outline: none;
    border-style: solid;
    width: 200px;
    height: 35px;
}
.btnsearch{
    color: black;
    font-weight: 200;
    background-color: #47afea;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 20px;
    float: right;
    border-radius: 5px;
    outline: none;
    border-style: none;
    width: 100px;
    height: 35px;

}
.btnsearch:hover{
    opacity: 0.8;
}